<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css" />
    <title><%= pageTitle%> | <%=siteName%></title>
    <script src="https://www.gstatic.com/firebasejs/8.1.2/firebase-app.js" defer></script>
    <script src="https://www.gstatic.com/firebasejs/8.1.2/firebase-auth.js" defer></script>
    <script src="https://www.gstatic.com/firebasejs/8.1.2/firebase-firestore.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js" defer ></script>
</head>
<body>
  <main>
    <%- include(`../pages/${template}`) %>
  </main>
</body>
</html>